img{
   height: 400px; 
   width: auto;
   border: 5px solid brown;
   filter: drop-shadow(30px 10px 4px #000000);
   
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
}
.unordered_list{
    list-style: none;
}