.Recipes{
    font-family: 'Times New Roman', Times, serif;
}

.Recipes.button {
    border: none;
    font-size: 25px;
    margin: 10px;
    background: red;
    color: white;
}

li {
    font-size: 20px;
}

body {
    background-color: #ffe4c4;
}