.Recipes{
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    color: #000000;
}

img{
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
}

.Recipes.button {
    font-size: 40px;
    margin: 10px;
    background: rgb(101, 134, 243);
    color: rgb(0, 0, 0);
    margin-left: 215px;
    margin-right: -200px;

}

li {
    font-size: 20px;
    display: inline;
}

body {
    background-color: #fff8ee;
}