body{
    background-color: bisque;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(175, 24, 24);
}

img{
    height: 300px; 
    width: auto;
    border: 5px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

h2{
    text-decoration: underline;
    font-weight: bold;
    line-height: 2.0;
}

.unordered_list{
    list-style: none;
}